*,html {scroll-behavior: smooth;}
body{
    background-color: #008EEA;
    
}
header {
    background-color: black;
    position: relative;
    z-index: 1;
    text-align: center;
    
}
.background{
    width: 100%;
    margin-bottom: 40px;
}
.gino {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%); /*lo muevo para arriba pero no me convence como queda al redimensionar*/
    width: 30%;
    z-index: 1;
    border-radius: 50%;
}

h1 {
    background-color: #005b96;
    text-align: center;
    color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.btn-nav{
    color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}
.colorblanco{
    color: white;
}
main>section{
    color: white;
    border: bottom 1px;
    border-color: black;
    border-style: dashed;
    margin-top: 20px;
}
main>section>h2{
    text-transform: uppercase;
    background-color: #0072bb;
    color: white;
}
main>section>ul>li>span{
    font-weight: bolder;
}
main>section>dl{
    margin-left: 20px;
}
main>section>dl>dt>span{
    font-weight: bolder;
}
footer{
        background-color: #0072bb;
        color: white;
        border: bottom 1px;
        border-color: black;
        border-style: dashed;
        margin-top: 20px;
        text-align: center;
        font-size: 40px;
}
footer>a>img{
    width: 40px;
}